body {
  background: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
}
canvas {
  border: solid 0.2em #fff;
  height: 90vh;
}

.instructions {
  display: inline;
  float: right;
  padding-right: 20%;
}

.instructions ul {
  list-style-type: none;
}
